@charset="utf-8";

body {
    color: #00051a;
    background-color: #fafdff;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    display: inline-block;
}

li a {
    color: #fafdff;
    font-size: 30px;
    margin: 20px;
}

h1 {
    font-size: 300%;
    border: 0px;
    margin: 0
}
#canvas1 {
    border: 1px dashed #295266;
}

#canvas2 {
    border: 1px dashed #295266;
}
.subtitle {
    background-color: #cceeff;
    width: 99%
}

.clauses {
    border-bottom: solid 2px #cceeff;
    width: 98%
}

.mainbox {
    background-color: #000033;
}
.mainbox:after {
    content: "";
    display: block;
    clear:both
}

.maintitle {
    float: center;
    text-align: center;
    background: linear-gradient(135deg, #c0e2f0,#f0ecd8 80%,#f0c8c0);

    color: #ffffff;
    height: 200px;
    width: 100%;
}

.tabname {
    background-color: rgba(0,5, 26, 0.9);
    height: 50px;
    text-align: center;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.9;
    margin: 0
}

#contentsbox {
    margin: 1%
}

#contents3 {
    height: 500px
}

#rounds {
    background-color: rgba(165,213,255,0.1);
    border: 2px solid #a5d5ff;
    margin-left: 100px;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    animation: bounddiv 1.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite alternate;
    position: relative
}

.flows {
    display: flex 
}

.mochi {
  font-size: 70px;
  font-family:monospace;
  position: relative;
  border: 1px solid rgba(165,213,255,0.5);
  margin-left: 30px;
  width: 300px;
  height: 200px;
  background: #fff;
  border-radius: 150px 150px 70px 70px;
  line-height: 200px;
  text-align:center;
  vertical-align: middle;
}

@keyframes bounddiv {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 300px;
  }
}