@charset="utf-8";

body {
    background-color: white;
}

#canvas1 {
    border: 1px dashed black;
}

.subtitle {
    background-color: aliceblue;
}

.clauses {
    border-bottom: solid 2px aliceblue;
}

.maintitle {
    background-color: white;
}

